.container > div { flex: 1; }

.descriptionWrap > div {
    padding: 40px;
    position: sticky;
    top: 50vh;
}
.descriptionWrap:hover { opacity: 0.7; }

.imagesWrap img {
    width: calc(100vw - (100vw - 100%));
    height: auto;
}
