.container {
    z-index: 999;
    position: fixed;
    top: 15px;
    left: 15px;
}

.logo {
    font-size: 40px;
    transition: opacity 0.3s ease-in-out;
}

.logo:hover .letter {
    color: red;
    font-weight: 900;
}

.logo:hover {
    opacity: 70%;
}
