/* styles/ImageSlideshow.module.css */
.slideshow {
    position: relative;
    width: 100%;
    max-width: 100vw; /* Adjust the max-width as needed */
    margin: auto;
}

.slide {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    object-fit: cover;
}

.active {
    opacity: 1;
}
