.container {
    height: 220px;
    padding: 70px 240px 0 0;

    display: flex;
    justify-content: end;
    gap: 25px;
}

.social {
    display: flex;
    gap: 10px;
}

.footer_text {
    font-size: 21px;
}

.icons {
    color: white;
}

.icons:hover {
    opacity: 70%;
    cursor: pointer;
}
